############################
# .NET build artefacts
############################
**/bin/
**/obj/
artifacts/

############################
# Тесты
############################
tests/
**/*.Tests/

############################
# IDE / OS мусор
############################
.idea/
.vscode/
*.user
*.suo
*.swp
.DS_Store

############################
# VCS
############################
.git
.gitignore

############################
# Документация / markdown
############################
README.md
CHANGELOG.md

############################
# Compose/Dev-файлы
############################
docker-compose*.yml
.env
